doctype
html
  head
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel="stylesheet" href="/main.css")

  body
    != yield
    
    hr
    br
    p Copyright 2018