
h1 Algorithms
h3 This is a list of Algorithms

ul  
    for algorithm, link in public.algorithm._data
        li
            a(href='/algorithm/#{link}.html') #{algorithm.name}
    
        //use harp server --port 8080 to start