head
    title Algorithms
body
    h1 Algorithms
    h3 This is a list of Algorithms

    ul 
        li 
            a(href="binary.html") Binary Search
        
            //use harp server --port 8080 to start