

<h1>You want the time eh?</h1>

<% 
let days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
let day = days[new Date().getDay()] 

%>

<p>Today is <%= day %> According to UTC </p>